<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">

		<div class="row mt-4">
			<div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<th:block th:if="${#lists.isEmpty(contacts)}">
				<h5>No contacts</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(contacts)}">
				<div class="table-responsive">
					<h5>List of contacts</h5>
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="contact,iterStat : ${contacts}">
							<th th:text="${contact.id}"></th>
							<td th:text="${contact.name}"></td>
							<td>
								<a href="#" th:href="@{/contact/{id}/list(id=${contact.id})}" class="mr-sm-2 text-primary">
									<i class="fa fa-pencil"></i>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>
	</div><!-- /.container -->

	<footer th:replace="layout :: footer"></footer>

</body>
</html>